# SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v2
appVersion: "1.0"
description: A Helm chart for Kubernetes the OpenID Connect Webhook Authenticator. It allows Kubernetes cluster administrators to dynamically register new OpenID Connect providers in their clusters to use for kube-apiserver authentication.
name: oidc-webhook-authenticator
version: 0.1.0
dependencies:
  - name: application
    repository: http://localhost:10191
    version: 0.1.0
    condition: application.enabled
  - name: runtime
    repository: http://localhost:10191
    version: 0.1.0
    condition: runtime.enabled
